
<div class="container col-8 mt-5">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">NameCource</th>
        <th scope="col">DocterName</th>
        <th scope="col">Action</th>



      </tr>
    </thead>

    <tbody >
      <tr *ngFor="let item of cources">
        <td> {{ item.id}}</td>
        <td>{{ item.NameCource }}</td>
        <td>{{ item.DocterName }}</td>

       <td>
        <i class="fa-regular fa-trash-can text-danger mr-5" (click)="delete(item['id'] )"></i>
       <a href="/cource/edit/{{ item.id }}"> <i class="fa-regular fa-pen-to-square text-info"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
